
table
{
    border-collapse: collapse;
}
th 
{
    border: 1px solid black;
    border-bottom: 3px solid black; 
}
td
{
    border: 1px solid black;
    padding: 2px;
    width: 300px;
}
.igudziai_table_content
{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(161, 216, 198);
}
.galerija_table_content
{
    border: 0px;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto; 
}
.galerija_table_td
{
    border: none;
}